{% extends 'base.html.twig' %}

{% block body %}

  <div class="solidarity-wrapper">
   <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h2 class="display-4">Inscription réussie</h2>
      <p class="lead">
         une personne reviendra vers vous rapidement pour valider votre inscription
      </p>
    </div>
  </div>
</div>
{% endblock %}
