{% extends 'base.html.twig' %}

{% block body %}

  <div class="row">

    <div class="col m6">
        Inscription réussie 
        
        une personne reviendra vers vous rapidement pour valider votre inscription
    </div>      
  </div>      
{% endblock %}
