easy_admin:
        site_name: '<img src="/logo.jpeg" style="max-width:160px;"/> triel solidarité'
        list:
            actions: ['edit', 'search', 'show', 'delete']
        edit:
            actions: ['show', 'delete']
    
    
        entities:
            # List the entity class name you want to manage
            Collect:
                class: App\Entity\Collect
                show:
                    fields:
                        - 'id'
                        - 'district'
                        - 'startAt'
                        - 'endAt'
                        - 'isCollected'
                        - 'assignedTo'
                        - 'infos'
                        - 'internalDescription'
                list:
                    fields:
                        - 'id'
                        - 'district'
                        - 'startAt'
                        - 'endAt'
                        - 'isCollected'
                        - 'assignedTo'
                form:
                    fields:
                        - 'district'
                        - 'startAt'
                        - 'endAt'
                        - 'isCollected'
                        - 'assignedTo'
                        - 'infos'
                        - 'internalDescription'               
            Contact:
                class: App\Entity\Contact
                show:
                    fields:
                        - 'id'
                        - 'name'
                        - 'email'
                        - 'subject'
                        - 'description'
                        - 'referent'
                        - 'createdAt'

                list:
                    fields:
                        - 'id'
                        - 'name'
                        - 'email'
                        - 'subject'
                        - 'description'
                        - 'referent'
                        - 'createdAt'

                form:
                    fields:
                        - 'name'
                        - 'email'
                        - 'subject'
                        - 'description'
                        - 'referent'
                        - 'createdAt'

            Tags:
                class: App\Entity\Tag
                show:
                    fields:
                        - 'id'
                        - 'name'
                list:
                    fields:
                        - 'id'
                        - 'name'
                form:
                    fields:
                        - 'name'
            Activites:
                class: App\Entity\Activity
                show:
                    fields:
                        - 'id'
                        - 'name'
                        - 'description'
                        - 'url'
                        - 'tags'
                        - 'isMerchant'
                        - 'address'
                        - 'phone'
                        - 'isShipping'
                        - 'isOrderable'                        
                        - { property: 'openingTimeMon', label: 'Horaire ouverture lundi' }
                        - { property: 'openingTimeTue', label: 'Horaire ouverture mardi' }
                        - { property: 'openingTimeWed', label: 'Horaire ouverture mercredi' }
                        - { property: 'openingTimeThu', label: 'Horaire ouverture jeudi' }
                        - { property: 'openingTimeFri', label: 'Horaire ouverture vendredi' }
                        - { property: 'openingTimeSat', label: 'Horaire ouverture samedi' }
                        - { property: 'openingTimeSun', label: 'Horaire ouverture dimanche' }

                list:
                    fields:
                        - 'id'
                        - 'name'
                        - 'description'
                        - 'url'
                        - 'isMerchant'
                        - 'tags'
                form:
                    fields:
                        - 'name'
                        - 'description'
                        - 'url'
                        - 'tags'
                        - 'isMerchant'
                        - 'address'
                        - 'phone'
                        - { property: 'mainFile', label : 'image de la boutique', type: 'vich_image'}
                        - { property: 'cardFile', label : 'carte format pdf', type: 'vich_file'}
                        - 'isShipping'
                        - 'isOrderable'
                        - 'isPaymentCash'
                        - 'isPaymentCheck'
                        - 'isPaymentBankcard'
                        -   property: 'type'
                            type: 'choice'
                            type_options:
                                mapped: true
                                expanded: false
                                multiple: false
                                choices: { 'COMMERCES ALIMENTAIRES DIVERS': 1, 'LIVRAISON A DOMICILE': 2, 'PHARMACIES': 3, 'LIBRAIRIES': 4 }                     

                        - { property: 'openingTimeMon', label: 'Horaire ouverture lundi' }
                        - { property: 'openingTimeTue', label: 'Horaire ouverture mardi' }
                        - { property: 'openingTimeWed', label: 'Horaire ouverture mercredi' }
                        - { property: 'openingTimeThu', label: 'Horaire ouverture jeudi' }
                        - { property: 'openingTimeFri', label: 'Horaire ouverture vendredi' }
                        - { property: 'openingTimeSat', label: 'Horaire ouverture samedi' }
                        - { property: 'openingTimeSun', label: 'Horaire ouverture dimanche' }


            Thanks:
                class: App\Entity\Thanks
                show:
                    fields:
                        - 'id'
                        - 'title'
                        - 'isEnabled'
                        - 'isMerchant'
                        - 'description'
                        - { property: 'url', type: 'url'}
                        - { property: 'file', template: 'admin/vich_uploader_image.html.twig' }
    
                list:
                    fields:
                        - 'id'
                        - 'title'
                        - 'isEnabled'
                        - 'isMerchant'
                        - { property: 'file', template: 'admin/vich_uploader_image.html.twig' }
    
                form:
                    fields:
                        - 'title'
                        - 'description'
                        - 'isEnabled'
                        - 'isMerchant'
                        - { property: 'url', type: 'url'}
                        - { property: 'mainFile', type: 'vich_image'}
    
            Recipient:
                class: App\Entity\Recipient
                show:
                    fields:
                        - 'id'
                        - 'name'
    
                list:
                    fields:
                        - 'id'
                        - 'name'
    
                form:
                    fields:
                        - 'name'
            District:
                class: App\Entity\District
                show:
                    fields:
                        - 'id'
                        - 'name'
                        - 'referents'
                        - 'collects'
    
                list:
                    fields:
                        - 'id'
                        - 'name'
                        - 'referents'
                        - 'collects'
    
                form:
                    fields:
                        - 'name'                        
            Referent:
                class: App\Entity\Referent
                show:
                    fields:
                        - 'firstname'
                        - 'lastname'
                        - 'email'
                        - 'district'
                        - 'phone'
                        - 'infos'
                        - 'address'
                        - 'collects'
                        - 'isValidated'
                        - { property: 'file', template: 'admin/vich_uploader_image.html.twig' }
    
                list:
                    fields:
                        - 'firstname'
                        - 'lastname'
                        - 'district'
                        - 'collects'
                        - 'email'
                        - 'phone'
                        - 'collects'
                        - 'isValidated'
    
                form:
                    fields:
                        - 'firstname'
                        - 'lastname'
                        - 'email'
                        - 'district'
                        - 'phone'
                        - 'infos'
                        - 'address'
                        - 'collects'
                        - 'isValidated'
                        - { property: 'mainFile', type: 'vich_image'}
                        
            TypeOfDonation:
                class: App\Entity\TypeOfDonation
                show:
                    fields:
                        - 'id'
                        - 'name'
                        - 'recipient'
    
                list:
                    fields:
                        - 'id'
                        - 'name'
                        - 'recipient'
    
                form:
                    fields:
                        - 'name'
                        - { property: 'recipient',  type_options: { class: 'App\Entity\Recipient' } }
            
            Donation:
                class: App\Entity\Donation
                show:
                    fields:
                        - 'id'
                        - 'person'
                        - 'phone'
                        - 'recipient'
                        - 'collect'
                        - 'typeOfDonations'
                        # - 'donateAt'
                        # - 'assignedTo'
                        - 'isCollected'
                        - 'createdAt'
                list:
                    fields:
                        - 'id'
                        - 'person'
                        - 'phone'
                        - 'collect'
                        - 'recipient'
                        - 'isCollected'
                        - 'createdAt'
                        # - 'assignedTo'
                form:
                    fields:
                        - 'person'
                        - 'phone'
                        - 'email'
                        - 'recipient'
                        - 'isCollected'
                        - { property: 'collect', type_options: { class: 'App\Entity\Collect' } }

        design:
            assets:
                favicon: '/assets/backend/favicon.png'
                css:
                    - '/assets/css/admin.css'
                    - 'bundles/easyadmin/bootstrap-all.css'
                js:
                    - 'bundles/easyadmin/bootstrap-all.js'
            menu:
                - { label: 'Gestion contact' }
                - { entity: 'Contact', label: 'Formulaire de contact' }
                
                - { label: 'Donations' }
                - { entity: 'Collect', label: 'Gestion des collectes' }
                - { entity: 'Donation', label: 'Dons' }

                - { label: 'Referent' }
                - { entity: 'Referent', label: 'Gestion des référents' }
                
                - { label: 'Remerciements' }
                - { entity: 'Thanks', label: 'Gestion Remerciements' }
                
                - { label: 'Infos pratiques' }
                - { entity: 'Tags', label: 'Gestion des tags' }
                - { entity: 'Activites', label: 'Gestion des Infos pratiques' }
                

                - { label: 'Gestion sytèmes donations' }
                - { entity: 'Recipient', label: 'Gestion Type Beneficiaires' }
                - { entity: 'TypeOfDonation', label: 'Gestion Type de dons' }
                - { entity: 'District', label: 'Gestion des quartiers' }

                # - { entity: 'Outgoing', label: 'Stats output', icon: 'bar-chart' }
                # - { entity: 'Link', label: 'Affiliate Links', icon: 'bar-chart' }
                # - { label: 'Referents' }
                # - { entity: 'Report', label: 'Reports', icon: 'warning' }
    
    
            form_theme:
                - '@EasyAdmin/form/bootstrap_4.html.twig'
                - '@VichUploader/Form/fields.html.twig'
    