{% extends 'base.html.twig' %}


{% block body %}

    
    <h1>Je fais un don pour</h1>

    <ul class="donate-dispatch-list">

        {% for recipient in recipients %}
            <li>
                <a href="{{ path('app.donate.dispatch', {'slug' : recipient.slug }) }}" class="btn btn-primary" role="button">{{ recipient.name }}</a>
            </li>
        {% endfor %}
    </ul>

{% endblock %}
