{% extends 'base.html.twig' %}


{% block body %}
<div class="solidarity-wrapper">

    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h2 class="display-4">Je fais un don pour</h2>

            <ul class="donate-dispatch-list">

                {% for recipient in recipients %}
                    <li>
                        <a href="{{ path('app.donate.dispatch', {'slug' : recipient.slug }) }}" class="btn btn-primary" role="button"><i class="fa fa-heart" aria-hidden="true"></i> {{ recipient.name }}</a>
                    </li>
                {% endfor %}
            </ul>

        </div>
    </div>
</div>

{% endblock %}
