{% extends 'base.html.twig' %}

{# {% block title %}Hello IndexController!{% endblock %} #}
    



{% block body %}

<div class="solidarity-wrapper">

  <p style="text-align:center">Merci merci !</p>  

  <div class="slider">

    {% for thank in thanks %}
      <div>
          <img src="{{ vich_uploader_asset(thank, 'mainFile') | imagine_filter('slider') }}" title="{{ thank.title }}">
      </div>
    {% endfor %}
  </div>

  <p class="solidarity-hightlight">
    La crise sanitaire oblige les habitants à rester chez eux, afin de limiter la propagation du virus. 
    Certaines personnes sont en première ligne (notamment le personnel hospitalier) et d'autres sont à protéger en priorité. 
    Plusieurs questions se posent alors:
  </p>

  <ul>
    <li><a href="">Comment soutenir les soignants ? </a></li>
    <li><a href="">Comment aider sans aggraver la situation ?</a></li> 
    <li><a href="">Comment se faire aider si je dois rester confiner ?</a></li> 
    <li><a href="">Comment occuper les enfants ? </a></li>
    <li><a href="">Que se passe t il dans ma ville ?</a></li>
  </ul>


</div>
{% endblock %}
