$blue: #0B3C7F;
$blue-light: rgb(45, 106, 192);

@import "node_modules/bootstrap/scss/bootstrap";
@import "node_modules/font-awesome/scss/font-awesome";

h1 {
    margin: 5px 0;
    text-align: center;
    font-size: 1.4rem;
    font-weight: bold;
    color: $blue;
}

.navbar-dark .navbar-nav .nav-link {
    color: rgba(255, 255, 255, 1);
}

.navbar-dark .navbar-nav .show > .nav-link, .navbar-dark .navbar-nav .active > .nav-link, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .nav-link.active {
    color: rgba(255, 255, 255, 0.5);
}

.header-share {

    width: 100%;
    // background:red;
    text-align: center;
    margin : 5px 0;
    // background-image: linear-gradient(180deg,#000E9C,#0050D7);
    
    .hightlight {
        font-weight: bold;
        font-size: 1.2rem;
    }
    a {
        margin-right: 5px;
        color: $blue-light;
        &:hover {
            text-decoration: none;
            color: $blue;
        }

        svg {
            height: 18px;   
        }
    }
}

.navbar.bg-primary {
    background-image: linear-gradient(90deg, $blue, $blue-light);
    border-bottom: 4px solid #E56C16;
}

.badge-success {
    background-color: #E56C16;
}

a.badge-success:hover, a.badge-success:focus {
    background-color: #d27a0d;
}

a.badge-success.active {
    background-color: #d27a0d;
}

.navbar-brand img {
    border-radius: 10px;
    max-width: 160px;
}

.solidarity-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }

.solidarity-hightlight {
    // background: $blue;
    background-image: linear-gradient(90deg, $blue, $blue-light);
    color: #FFF;
    padding: 10px;
    font-size: 1rem;
}
  @include media-breakpoint-up(sm) {
    .solidarity-hightlight {
      font-size: 1.2rem;
    }
  }
  
  @include media-breakpoint-up(md) {
    .solidarity-hightlight {
      font-size: 1.2rem;
    }
  }
  
  @include media-breakpoint-up(lg) {
    .solidarity-hightlight {
      font-size: 1.2rem;
    }
  }

.solidarity-thanks-list, 
.solidarity-activities-list, 
.solidarity-referents-list,
.solidarity-activities-list-tags {
    list-style-type: none;
    text-align: left;
    li {
        margin-bottom: 20px;
    }
}

.solidarity-thanks-list  {
    li img { 
        float: left; 
        padding: 0 20px 20px 0;
    }
}

.solidarity-activities-list-tags li {
    display:inline;
}

.solidarity-referents-list {
    li img { 
        float: left; 
        padding: 0 20px 20px 0;
    }
}
.donate-dispatch-list {
    list-style-type: none;
    text-align: center;
    padding: 0;
    li {
        margin-bottom: 20px;
        border: 2px solid $blue;
        border-radius: 4px;
        padding: 10px;
        
        p.donate-dispatch-list-type {
            margin: 0 auto;
            text-align: left;
            // background-color: red;        
            display: inline-block;
            width:100%;
        }   

        a.btn {
            width: 100%;
            height: 40px;
        }
    }
}

.jumbotron {
    text-align: center;
    border-radius: 5px;
    border: 2px solid $blue;
    // box-shadow: 5px 3px 11px #70717162;
    background: #FFF;
}

.container-fluid form button {
    margin: 10px auto;
}

.solidarity-collects {
    text-align: left;
    width:100%;
    li {
        margin: 10px 0;
    }
    tr {
        border-bottom: 1px solid grey;
        td {
            a {
                margin: 10px;
            }
            &:last-child {
                text-align:right;        
            }
        }
    }
}


/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 30px;
}

.container-fluid {
    padding-bottom: 20px;
    padding-left: 0;
    padding-right: 0;
}

.footer {
    background-image: linear-gradient(90deg, $blue, $blue-light);
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 30px;
    line-height: 30px;
    //background-color: #f5f5f5;
    padding-left: 10px;
    a {
        color: #fff;
        font-size: 0.8rem;
    }
}


.slider {
    
    margin-bottom: 20px;
    max-width: 100%;
    overflow: hidden;
    border:2px solid $blue;

    &:after {
        content: "";
        display: table;
        clear: both;
    }

    .solidarity-thanks-caption {

        position: absolute;
        background: rgba($color: #000000, $alpha: 0.6);
        color: #FFF;
        bottom:0;
        width: 100%;
        padding-left:10px;

        h3 {
            font-size: 2.2rem;
        }

        p{
            font-size: 0.8rem;
        }

        a {
            color: #FFF;
            &:hover {
                color: #FFF;
            }    
        }
    }

    .column {
        float: left;
        background: green;
        width: 70%;
        position: relative;
        // padding: 10px;
        img {
            width: 100%;
            //border:2px solid white;
        }
    }
    
    .column-wrapper {
        float: right;
        width: 30%;

        >.column {
            float: left;
            width: 100%;
        }
    }
}


@include media-breakpoint-down(md) { 

    .slider {
        // max-height: 300px;
        .column {
            width: 100%;
        }
        
        .column-wrapper {

            width: 100%;

    
            >.column {
                width: 50%;
    
            }
        }
    }

 }
 

// table { 
//     border-collapse: collapse;
//     border-spacing: 0px;
    
// }

// table, th, td { 
//     border: 1px solid black; 
// }

caption { 
    caption-side: top;
    text-align: left;
    color: #fff;
} 

.table-dark {
    color: #fff;
    background-color: $blue;
    font-size: 0.8em;
    a {
        color: #fff;
    }
}
.table-striped {
    color: #fff;
}

.activity-merchant {
    a {
        color:#fff;
        &:hover{
            color:#fff;
        }
    }
}

.solidarity-collect-list {
    
    padding-left: 0;
    li {
        list-style-type: none;
    }
}

//  TYPE_OF_MISC_FOOD_SHOP
.activity-merchant-1 {
    background: orange;
    color: #fff;
}

// TYPE_OF_HOME_DELIVERY
    .activity-merchant-2 {
        background: orange;
        color: #fff;
    }

//  TYPE_OF_PHARMACY
    .activity-merchant-3 {
    background: green;
    color: #fff;
}

// TYPE_OF_BOOKSTORE
.activity-merchant-4 {
    background: $blue;
    color: #fff;
}    

.solidarity-merchant-visual {
    // text-align: center;
    img {
        max-width: 100%;
        border: 1px solid #fff;
        margin: 0 auto;
        display: block;
    }
}

.solidarity-merchant-card {
    width: 100%;
    text-align: center;
    font-size: 1.3rem;
    display: inline-block;
}