h1 {
    margin: 5px 0;
    text-align: center;
    font-size: 1.4rem;
    font-weight: bold;
    color: orange;
}


.header-share {

    width: 100%;
    // background:red;
    text-align: center;
    margin : 5px 0;
    
    .hightlight {
        font-weight: bold;
        font-size: 1.2rem;
    }
    a {
        margin-right: 5px;
        color: orange;
        &:hover {
            text-decoration: none;
        }

        svg {
            height: 18px;   
        }
    }
}

.navbar-brand img {
    border-radius: 10px;
}

.solidarity-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }

.solidarity-hightlight {
    background: blue;
    color: #FFF;
}

.solidarity-thanks-list, 
.solidarity-activities-list, 
.solidarity-referents-list,
.solidarity-activities-list-tags {
    list-style-type: none;
    text-align: left;
    li {
        margin-bottom: 20px;
    }
}

.solidarity-thanks-list  {
    li img { 
        float: left; 
        padding: 0 20px 20px 0;
    }
}

.solidarity-activities-list-tags li {
    display:inline;
}

.solidarity-referents-list {
    li img { 
        float: left; 
        padding: 0 20px 20px 0;
    }
}
.donate-dispatch-list {
    list-style-type: none;
    text-align: center;
    li {
        margin-bottom: 20px;

        a.btn {
            width: 300px;
            height: 40px;
        }
    }
}

.jumbotron {
    text-align: center;
    border-radius: 5px;
}

.container-fluid form button {
    margin: 10px auto;
}