{% extends 'base.html.twig' %}

{% block body %}
<div class="solidarity-wrapper">
   <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h2 class="display-4">Merci pour votre don ! <i class="fa fa-heart" aria-hidden="true"></i></h2>
      <p class="lead">
         vous serez contacté par le référent de votre quartier
      </p>
    </div>
  </div>
</div>
{% endblock %}
